<!DOCTYPE html>
<html class="scroll-smooth">

<head>
    <link rel="stylesheet" href="styles/output.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saona Beauté Evasion</title>
    <link rel="icon" type="image/x-icon" href="images/logo.jpg">
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
</head>

<body>
    <header class="text-center pt-10">
        <img src="images/logo.jpg" alt="Logo de Saona Beauté évasion" class="hidden lg:block mx-auto w-25 mb-4" />
        <h1 class="text-3xl text-yellow-300 mb-8 font-[Helvetica] font-thin">SAONA BEAUTÉ ÉVASION</h1>
        <div class="hidden lg:flex separator">
            <div class="icon"></div>
        </div>
    </header>

    <nav id="navbar" class="drop-shadow-xl stickynavbar">
        <ul
            class="hidden lg:flex flex-row items-center justify-between text-yellow-200 text-lg max-w-[1025px] py-4 mx-auto font-[Baskervville]">
            <li class="hover:opacity-90 transition-transform duration-100 hover:scale-101"><a href="#">ACCUEIL</a></li>
            <li class="hover:opacity-90 transition-transform duration-100 hover:scale-101"><a href="#prestations">NOS
                    PRESTATIONS</a></li>
            <li class="hover:opacity-90 transition-transform duration-100 hover:scale-101"><a
                    href="#offrir-un-soin">OFFRIR UN SOIN</a></li>
            <li class="hover:opacity-90 transition-transform duration-100 hover:scale-101"><a
                    href="#contact">CONTACT</a></li>
        </ul>
    </nav>

    {{{body}}}

    <footer class="py-8 lg:px-8 text-white">
        <div class="flex flex-col lg:flex-row lg:justify-between justify-center items-center lg:gap-20 lg:w-[1025px] mx-auto">
            <div class="px-5 lg:text-center">
                <img src="images/logo.jpg" alt="Logo de Saona Beauté évasion" class="lg:w-50 w-40 py-5 mb-4" />
                <p>Copyright © 2025</p>
            </div>

            <p class="lg:w-[40%] lg:text-xl mx-5 text-base mt-5">
                Ce site est protégé par <a class="underline text-blue-200" href="https://www.hCaptcha.com">hCaptcha</a>,
                leur
                <a class="underline text-blue-200" href="https://www.hcaptcha.com/privacy">Politique de
                    confidentialité</a>
                et leurs <a class="underline text-blue-200" href="https://www.hcaptcha.com/terms">Conditions
                    d'utilisation</a> s'appliquent.
            </p>

            <div>
                <ul class="flex items-center justify-center mt-5">
                    <li class="mr-5"><a target="_blank"
                            href="https://www.facebook.com/profile.php?id=61569319857908"><img src="images/facebook.png"
                                width="60" /></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/saona.beaute.evasion/"><img
                                src="images/instagram.png" width="60"></a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="scripts/source.js"></script>
</body>

</html>