@import "tailwindcss";

body {
    background-color: #A15AA0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: #A15AA0;
}

.separator {
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 10px;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    height: 2px;
    background: linear-gradient(to right, transparent, gold);
}

.separator::after {
    background: linear-gradient(to left, transparent, gold);
}

.separator .icon {
    width: 20px;
    height: 10px;
    background: gold;
    clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
    margin: 0 10px;
}

.bg-secondary {
    background-color: #FEDEFF;
}

main+section {
    padding-block: calc(var(--spacing) * 6);
}

.btn {
    background-color: #733C89;
}

.btn:hover {
    background-color: #814499;
}

.btn_disabled {
    cursor: not-allowed;
    background-color: #cba6db;
}

.btn_disabled:hover {
    background-color: #cba6db;
}

.stickynavbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

#navbar {
    background-color: #A15AA0;
}

.border-side {
    @apply border-r-0;
    @apply border-b-1;
    @apply border-b-black;
}

@media (width >=64rem) {
    .border-side {
        @apply border-r-1;
        @apply border-b-0;
        @apply border-r-black;
    }
}

#prestations article>h3 {
    color: #545700;
    font-family: cursive;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#prestations article>ul>li>h4 {
    font-family: cursive;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    margin: 0.5rem 0;
}

#prestations article>ul {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#prestations article {
    margin: 2rem 0;
}

#prestations article>ul>li {
    width: 100%;
}

/* Contains <p>Sourcils</p><div>9€</div> */
#prestations article>ul>li>ul li {
    display: flex;
    justify-content: space-between;
    align-items: end;
    @apply text-base;
    margin-top: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#prestations hr {
    margin: auto;
    margin-top: 2rem;
    width: 50%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, gold, transparent);
}

section h2 {
    @apply text-3xl;
    font-weight: thin;
    margin-bottom: 1rem;
    font-family: serif;
}


/* DESKTOP RULES */
@media (width >=64rem) {
    #prestations article>ul {
        display: flex;
        flex-direction: row;
        margin: 2rem 1rem;
    }

    section h2 {
        @apply text-4xl;
    }

    #prestations article>h3 {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    #prestations article>ul>li>ul li {
        @apply text-lg;
    }

    #prestations article>ul>li>ul>li div {
        margin-left: 8rem;
    }

    #prestations article>ul>li>h4 {
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }
}